@font-face {
    font-family: 'MyriadPro';
    src: url(../fonts/MyriadPro-It.otf);
    font-style:italic;
}
@font-face {
    font-family: 'MyriadPro';
    src: url(../fonts/MyriadPro-Regular.otf);
}
@font-face {
    font-family: 'MyriadPro';
    src: url(../fonts/MyriadPro-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: 'MyriadPro';
    src: url(../fonts/MyriadPro-BoldIt.otf);
    font-weight: bold;
    font-style:italic;
}
div, input,span, button, textarea{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'MyriadPro';
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #1a1423;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #f5853f;
}
.title h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.title h2{
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.texto, .title{
    z-index: 10;
    position: relative;
}
header{
    background-color: rgba(26, 20, 35, 0.8);
    width: 100%;
    min-height: 800px;
    margin: 0;
    padding: 0;
    top: 0;
    position: relative;
    display: block;
    background: url(../img/bg-topo.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(26, 20, 35, 0.8);
}
header::before{
    content: "";
    display: block;
    position: fixed;
    height: 200px;
    width: 100%;
    z-index:990; 
    border-top: 15px solid #583a3b;   
    background: -moz-linear-gradient(top, rgba(26,20,35,0.75) 0%, rgba(0,0,0,0) 100%); 
    background: -webkit-linear-gradient(top, rgba(26,20,35,0.75) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(26,20,35,0.75) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a61a1423', endColorstr='#00000000',GradientType=0 );
}
#frases-header{
    height: 500px;
    padding-top: 280px;
}
#frases-header h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 68px;
    width: fit-content;
    margin: 0 auto;
    background-color: rgba(245, 133, 63, 0.75);
}
#frases-header h1:first-child{
    padding: 25px 30px 0 30px;
    line-height: 60px;
}
#frases-header h1:last-child{
    padding: 15px 40px 15px 40px;
    line-height: 60px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;    
}
button, .btn{
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    padding: 10px 20px;
    font-family: 'MyriadPro';
    font-weight: bold;
}
.btn-big{
    font-size: 22px;
    line-height: 45px;
    height: 60px;
    padding: 10px 60px;
    margin-top: 30px;
    text-transform: uppercase;    
}
.btn-full{
    width:100%;
}
#main-menu{
    padding-top: 40px;
    position: fixed;
    z-index: 999;
    max-width: 1200px;
}
#main-menu .img-logo img{
    width: 100%;
}
nav#main-menu ul{
    list-style-type: none;
    text-align: right;
    margin-top: 30px;
}
nav#main-menu ul li{
    display: inline-block;
    min-width: 120px;
    height: 30px;
    line-height: 30px;
}
nav#main-menu ul li a{
    color:#fff;
    text-transform: uppercase;
    display: block;
    text-align: center;
    transition: all 0.2s;
    border-bottom-color:#f5853f;
}
nav#main-menu ul li a:hover{
    color:#f5853f;
    border-bottom: 8px solid #1a1423;
}

.duas-colunas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#main-menu.duas-colunas{
    grid-template-columns: 1fr 2fr;
}
.tres-colunas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
section#quem-somos{
    background-color: #1a1423;
    padding: 60px 0;
}
section#quem-somos .container{
    z-index: 2;
    position: relative;
}
section#quem-somos .title h1{
    color:#f5853f;
    
}
section#quem-somos::before{
    width: 100%;
    content: "";
    display: block;
    height: 600px;
    position: absolute;
    margin-top: -110px;
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    transform: skewY(4deg);
    background-color: #1a1423;
    z-index: 2;
    box-shadow: 0 30px 0px 5px rgba(26, 20, 35, 1);
}

#quem-somos .texto p{
    max-width: 55%;
    color: #fff;        
}

#img-caneca{
    position: absolute;
    margin-top: -640px;
    width: 500px;
    right: 0;
}
section#servicos{
    padding: 60px 0;
}
section#servicos .container{
    z-index: 2;
    position: relative;
    margin-top: 200px;
}
section#servicos .title h1{
    color:#1a1423;
    text-align: center;
}

section#servicos::before{
    width: 100%;
    content: "";
    display: block;
    height: 1400px;
    position: absolute;
    margin-top: -110px;
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    transform: skewY(-4deg);
    background-color: #f5853f;
    z-index: 1;
}
.btn-blue{
    background-color: #1a1423;
    color: #f5853f;    
    transition: all 0.2s;
}
.btn-blue:hover, .btn-blue:active{
    background-color: #373240;
    color: #ffdfcc;    
}
.btn-orange{
    background-color: #f5853f;
    color: #1a1423;  
    transition: all 0.2s;
}
.btn-orange:hover{
    background-color: #ff9e60;
    color: #423b4e;
}
section#servicos .tres-colunas{
    column-gap: 15px;
}
section#servicos .servico-item{
   min-height: 600px;
   background-size: cover;
   box-shadow: inset 0 0 0 1000px rgba(26, 20, 35, 0.8);
   transition: all 0.5s;
   text-align: center;
   color:#fff;
   padding: 150px 70px;
}
.servico-item p.description{
    padding-top:20px;
}
section#servicos .servico-item:hover{
   box-shadow: inset 0 0 0 1000px rgba(26, 20, 35, 0.9);
}

section#servicos #servico-1{
    background-image: url(../img/bg-webdesign.jpg);
}
section#servicos #servico-2{
    background-image: url(../img/bg-sistemas.jpg);
}
section#servicos #servico-3{
    background-image: url(../img/bg-marketing.jpg);
}
section#servicos .info{
    margin-top: 80px;
}

section#depoimentos{
    box-shadow: 0px -50px 0px 300px rgba(255,255,255,1);
    background-color: #fff;
    position: relative;
}

section#depoimentos .title h1{
    margin-top: 150px;
    text-align: right;
    color:#4f3030;
}
#depo-slider .slider-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
#depo-slider .slider-item .rating-stars li{
    display: inline;
    list-style-type: none;
}
#depo-slider .slider-item .author, .review{
    font-size: 48px;    
    color:#4f3030;
}
#depo-slider .slider-item .author{
    font-weight: bold;
    padding: 20px 0;
}
#depo-slider .slider-item .review{
    font-weight: normal;
    font-style: italic;
    border-bottom: 6px solid #e0dfd5;
    padding: 5px 0;
}
#depo-slider .slider-item div:nth-last-child(1){
    text-align: right;
}

section#newsletter{
    margin-top:100px;
    text-align: center;
    background: url(../img/bg-newsletter.jpeg) fixed no-repeat center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(26, 20, 35, 0.8);
    min-height: 250px;
    padding: 60px 0;
}

section#newsletter .title h1{
    color:#fff;
}
#form-news{
    width: 520px;
    margin: 0 auto;
    text-align: left;
    color: #fff;
    margin-bottom: 60px;
}
#email-news{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 5px 20px;
    font-size: 28px;
    font-family: 'MyriadPro';
    border-radius: 5px;
    border: 0;
    clear:both;
}
section#portfolio{
    margin-bottom: 80px;
    margin-top: 120px;
}
section#portfolio .title h1{
    text-align: center;
}
.portfolio-grid{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
}
.portfolio-grid .portfolio-item{
    width: 100%;
    background-color:#ccc;
    min-height:100px;
    height: 250px;
}
section#contato{
    margin-top: 100px;
    padding-top: 100px;
}
section#contato::before{
    width: 100%;
    content: "";
    display: block;
    height: 800px;
    position: absolute;    
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
    transform: skewY(4deg);
    background-color: #1a1423;
    z-index: 1;
}
section#contato .container{
    z-index: 2;
    position: relative;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:60px;
}
section#contato .title h1{
    color: #f5853f;
}
section#contato form input[type='text']{
    height: 40px;
    line-height: 40px;
}

section#contato form input[type='text'], textarea{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin-top: 8px;
    font-family: 'MyriadPro';
    width: 100%;
}

section#contato label{
    color: #fff;
}

section#contato form div{
    margin: 30px 0;
}
footer{
    background-color: #1a1423;
    border-bottom: 25px solid #1a1423;
}
footer::before{
    content: "";
    display: block;
    height: 100px;
    background: #1a1423;
    box-shadow: 0 0 0 200px rgba(26, 20, 35, 1);
}
#rodape{
    background-color: #4f3030;
    width: 100%;
    min-height: 100px;
    margin-top: 30px;
} 
#rodape p{
    line-height: 100px;
    color:#fff;
    text-align: center;
}
#rodape p span{
    color:#f5853f;
}

a.thumbnail.gallery{
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (min-width: 320px) and (max-width: 520px){
    #form-news{
        width:100%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 768px){
    #main-menu.duas-colunas{
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        grid-template-rows: repeat(2, 1fr);
        padding-top: 10px;
        width: 100%;
    }
    nav#main-menu ul{
        text-align: center;
    }
    #frases-header h1{
        font-size: 150%;
    }
    .tres-colunas{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        grid-template-rows: repeat(3, 1fr);
    }
    #depo-slider .slider-item {
        display: flex;
        flex-direction: column-reverse;
    }
    #depo-slider .slider-item div:nth-last-child(1), #depo-slider .slider-item .review-info{
        text-align: center;
    }
    .rating-stars{
        padding-top: 10px;
    }
    #depo-slider .slider-item .review{
        padding:0;
    }
    section#depoimentos .title h1{
        text-align: center;
    }
    .aspas{
        margin-top: -300px;
        text-align: left!important;
    }

    #img-caneca{
        opacity: 0.3;
        z-index: 1;
        width:60%;
        margin-top: -450px;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 980px){
    #img-caneca{
        opacity: 0.3;
        z-index: 1;
    }
    .tres-colunas{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        grid-template-rows: repeat(3, 1fr);
    }
}
