{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CoffeeT3ch</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'js/featherlight/featherlight.min.css' %}" />
		<link type="text/css" rel="stylesheet" href="{% static 'js/featherlight/featherlight.gallery.min.css' %}" />
        <style>
            header{
                min-height:400px;
            }
            input[type='text'], input[type='email']{
                padding: 10px;
                border-radius: 5px;
                border: 0;
                margin-top: 8px;
                font-family: 'MyriadPro';
                width: 100%;
                margin-bottom: 30px;
            }
        </style>
    </head>
    <body>
        <header>
            <div class="container">
                <nav id="main-menu" class="duas-colunas">
                    <div class="img-logo">
                        <img src="{% static 'img/logo.png' %}" alt="CoffeeT3ch" title="CoffeeT3ch" />
                    </div>
                    <ul>
                        <li class="current"><a href="../#frases-header">Início</a></li>
                        <li><a href="../#quem-somos">Quem somos</a></li>
                        <li><a href="../#servicos">Serviços</a></li>
                        <li><a href="../#portfolio">Fotos</a></li>
                        <li><a href="../#contato">Contato</a></li>
                    </ul>
                </nav>
                <div id="frases-header">
                    <h1>Formulário de Inscrição</h1>
                </div>

            </div>
        </header>

        <section style="background-color: #1a1423;">
        	<div class="content row padding-bottom-3 desktop-12 container" style="color:#fff; padding-top: 30px; max-width: 400px;">
                <div class="desktop-6">
                    <form action="." novalidate method="post">
                        {% csrf_token %}
                        <div class="form-row label-block input-text">
                            <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                            {{ form.nome.errors }}
                            {{ form.nome }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.titulo.id_for_label }}">{{ form.titulo.label }}</label>
                            {{ form.titulo.errors }}
                            {{ form.titulo }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {{ form.email.errors }}
                            {{ form.email }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.resumo.id_for_label }}">{{ form.resumo.label }}</label>
                            {{ form.resumo.errors }}
                            {{ form.resumo }}
                        </div>
                        <p class="btn-row" style="text-align: center;"><input class="btn btn-big btn-orange" style="margin-top:0 !important" type="submit" value="Enviar"/></p>
                    </form>
                </div>
            </div>
        </section>

        <footer>
            <div id="rodape">
                <div class="container">
                    <p>2018 - Desenvolvido por Matheus Vieira de Paula - <span>Feito com Django!</span></p>
                </div>
            </div>
        </footer>
        <script src="{% static 'js/jquery-3.3.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/jquery.nav.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/featherlight/featherlight.min.js' %}" type="text/javascript" charset="utf-8"></script>
		<script src="{% static 'js/featherlight/featherlight.gallery.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script>
            $(document).ready(function(){
                $('#main-menu ul').onePageNav({
                    currentClass: 'current',
                    changeHash: false,
                    scrollSpeed: 800
                });

                $('.portfolio-item .thumbnail').each(function(){
                    const imgPath = $(this).attr('href');
                    $(this).css('background-image', 'url("'+imgPath+'")');
                });

                $('.gallery').featherlightGallery({
                    gallery: {
                        fadeIn: 300,
                        fadeOut: 300
                    },
                    openSpeed:    300,
                    closeSpeed:   300
                });
            });
        </script>
    </body>
</html>
